<h1>Home#index</h1>
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Action Cable Rails 5.1 Demo
      </p>
      <p class="subtitle">
        A few simple rails apps to demo how Action Cable work.
      </p>
    </div>
  </div>
</section>

<br>

<div class="container">
  <div class="tile is-ancestor">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <p class="title">Sample One</p>
          <p class="subtitle">Basic Action Cable</p>
          <a class="button is-large is-dark" href="/sample_one/index">Click Me</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <p class="title">Sample Two</p>
          <p class="subtitle">Visual Queue</p>
          <a class="button is-large is-dark" href="/sample_two/index">Click Me</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <p class="title">Sample Three</p>
          <p class="subtitle">...</p>
          <a class="button is-large is-dark" href="/sample_three/index">Click Me</a>
        </article>
      </div>
    </div>
  </div>
</div>
