<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Sample One
      </p>
      <p class="subtitle">
        Simple action cable demo.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">  
    <button id="sample_one_button_1" class="button is-warning is-large">Click No Limit</button>
    <button id="sample_one_button_2" class="button is-link is-large">Click Once</button>
  </div>
</section>
