<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Sample One
      </p>
      <p class="subtitle">
        Simple action cable demo.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">  
    <button class="button is-warning is-large sample-one-button-action" data-id="sample_one_button_1">Click No Limit</button>
    <button class="button is-link is-large sample-one-button-action" data-id="sample_one_button_2">Click Once</button>
  </div>
</section>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('.sample-one-button-action').on("click", function(event){
      App.sample_one.send({
        button_id: event.currentTarget.dataset.id,
        job_action: 'sample_one'
      })
    });
  }); 
<% end %>
