<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Sample Three
      </p>
      <p class="subtitle">
        Console chat.
      </p>
    </div>
  </div>
</section>
<div class="columns">
  <div class="column">
    <input id="message_sender" name="message" class="input is-warning is-large" type="text" placeholder="Enter your name here">
  </div>
  <div class="column is-four-fifths">
    <p class="bd-notification is-primary">
      <input id="message_input" name="message" class="input is-success is-large" type="text" placeholder="Type and press Enter">
    </p>
  </div>
</div>
<div id="chatbox" data-user-id="">
</div>
