<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Sample Three
      </p>
      <p class="subtitle">
        Console chat.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">  
    <div class="field">
      <div class="control">
        <input id="message_sender" name="message" class="input is-warning is-large" type="text" placeholder="Enter your name here">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input id="message_input" name="message" class="input is-success is-large" type="text" placeholder="Type and press Enter">
      </div>
    </div>
  </div>
</section>
